      # Load the dataset and add the columns Ordered product sales and Ordered product sales-B2B 
      # and convert the dateformate to Year-Month-Day
      # Add a column Total product sales
      # Remove any rows with total product sales as 0
      # save the output in csv file

In [42]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/manishanker/stats_ml_jun2020/master/BusinessReport-5-15-20%20(1).csv")

In [3]:
df.head()

,Date,Ordered Product Sales,Ordered Product Sales - B2B,Units Ordered,Units Ordered - B2B,Total Order Items,Total Order Items - B2B,Average Sales per Order Item,Average Sales per Order Item - B2B,Average Units per Order Item,Average Units per Order Item - B2B,Average Selling Price,Average Selling Price - B2B,Sessions,Order Item Session Percentage,Order Item Session Percentage - B2B,Average Offer Count
0,04/13/2020,$0.00,$0.00,0,0,0,0,$0.00,$0.00,0.0,0.0,$0.00,$0.00,19,0.00%,0.00%,3
1,04/14/2020,$12.99,$0.00,1,0,1,0,$12.99,$0.00,1.0,0.0,$12.99,$0.00,5,20.00%,0.00%,3
2,04/15/2020,$59.96,$0.00,4,0,4,0,$14.99,$0.00,1.0,0.0,$14.99,$0.00,63,6.35%,0.00%,3
3,04/16/2020,$59.96,$0.00,4,0,4,0,$14.99,$0.00,1.0,0.0,$14.99,$0.00,68,5.88%,0.00%,3
4,04/17/2020,$89.94,$14.99,6,1,6,1,$14.99,$14.99,1.0,1.0,$14.99,$14.99,62,9.68%,1.61%,3

In [27]:
#new dataframe with only 3 required columns

df_new=df[df.columns[:3]]

In [30]:
df_new.head()

         Date Ordered Product Sales Ordered Product Sales - B2B
0  04/13/2020                 $0.00                       $0.00
1  04/14/2020                $12.99                       $0.00
2  04/15/2020                $59.96                       $0.00
3  04/16/2020                $59.96                       $0.00
4  04/17/2020                $89.94                      $14.99

In [29]:
#Step1: Function to get rid of '$' in columns:

def money_to_float_conversion(money_str):
    """
        Function to take a string and replace $ with space
    """
    return float(money_str.replace("$",""))

In [63]:
#Step2: Function to chhange date format

#pd.to_datetime(df.Date)

def convert_date_format(date_str):
     """
        Function to take a date format from 04/28/2020 to 2020-04-28
    """
    return datetime.strptime(date_str, '%m/%d/%Y').strftime('%Y-%m-%d')

In [67]:
#create a new dataframe, so as to keep origonal df intact
df_new1=df_new.copy()

In [69]:
df_new1['Ordered Product Sales']=df_new['Ordered Product Sales'].apply(money_to_float_conversion)
df_new1['Ordered Product Sales - B2B']=df_new['Ordered Product Sales - B2B'].apply(money_to_float_conversion)

In [71]:
df_new1['Date']=df_new['Date'].apply(convert_date_format)

In [84]:
#Step3
df_new1['Total Product Sales']=df_new1['Ordered Product Sales']+df_new1['Ordered Product Sales - B2B']

In [86]:
#Create a dummy column "Total Product Sales" text
df_new1['Total Sales Column']="Total Product Sales"

In [93]:
#Step4
df_final=df_new1[df_new1['Total Product Sales']>0]

In [96]:
columns_order=['Total Sales Column', 'Date','Total Product Sales']
df_final=df_new1[columns_order]

In [101]:
#Step5
df_final.to_csv('Final_csv', index=False)