In [22]:
#Q1 import pandas and check the version?

import numpy as np
import pandas as pd

print(pd.__version__)
print(pd.show_versions(as_json=True))

1.0.1
{'system': {'commit': None, 'python': '3.7.6.final.0', 'python-bits': 64, 'OS': 'Windows', 'OS-release': '10', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 142 Stepping 12, GenuineIntel', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'None', 'LOCALE': 'None.None'}, 'dependencies': {'pandas': '1.0.1', 'numpy': '1.18.1', 'pytz': '2019.3', 'dateutil': '2.8.1', 'pip': '20.0.2', 'setuptools': '45.2.0.post20200210', 'Cython': '0.29.15', 'pytest': '5.3.5', 'hypothesis': '5.5.4', 'sphinx': '2.4.0', 'blosc': None, 'feather': None, 'xlsxwriter': '1.2.7', 'lxml.etree': '4.5.0', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.11.1', 'IPython': '7.12.0', 'pandas_datareader': None, 'bs4': '4.8.2', 'bottleneck': '1.3.2', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.1.3', 'numexpr': '2.7.1', 'odfpy': None, 'openpyxl': '3.0.3', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.4.1', 'sqlalchemy': '1.3.13', 'tables': '3.6.1', 'tabulate': None, 'xarray': None, 'xlrd': '1.2.0', 'xlwt': '1.3.0', 'numba': '0.48.0'}}
None

In [34]:
#Q2 create a series from a list, numpy array and dict?

lst=list('abcde')
arr=np.arange(5)

#mydict = dict(zip(lst, arr))


print(pd.Series(lst))
print(pd.Series(arr))
#pd.Series(dict(zip(lst, arr)))

0    a
1    b
2    c
3    d
4    e
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int32

In [48]:
#Q3 convert the index of a series into a column of a dataframe?

mylist = list('abcedf')
ser = pd.Series(mylist)

ser.to_frame().reset_index().rename({'index':'sno'}, axis=1)

   sno  0
0    0  a
1    1  b
2    2  c
3    3  e
4    4  d
5    5  f

In [59]:
#Q4 combine many series to form a dataframe?

ser1=pd.Series(list('abcdef'))
ser2=pd.Series(np.random.randint(0,10,6))

comb1=pd.concat([ser1, ser2], axis=1) #method1
print(comb1) 
comb2=pd.concat({'col1':ser1,'col2':ser2}, axis=1) #method2
print(comb2)

   0  1
0  a  2
1  b  1
2  c  3
3  d  9
4  e  2
5  f  6
  col1  col2
0    a     2
1    b     1
2    c     3
3    d     9
4    e     2
5    f     6

In [61]:
#Q5 assign name to the series’ index?

ser1.name='alpha'
ser1

0    a
1    b
2    c
3    d
4    e
5    f
Name: alpha, dtype: object

In [68]:
#Q6.get the items of series A not present in series B?

ser1=pd.Series(np.arange(5))
ser1
ser2=pd.Series(np.arange(8))
ser2

#findind ser2 elements not in ser1

ser2[~ser2.isin(ser1)]

5    5
6    6
7    7
dtype: int32

In [77]:
#Q7. get the items not common to both series A and series B?

ser1=pd.Series(np.arange(1,6))
print(ser1)
ser2=pd.Series(np.arange(3,8))
print(ser2)


ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_u
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_i
ser_u[~ser_u.isin(ser_i)]   #union-intersect

0    1
1    2
2    3
3    4
4    5
dtype: int32
0    3
1    4
2    5
3    6
4    7
dtype: int32

0    1
1    2
5    6
6    7
dtype: int32

In [105]:
#Q8. to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

ser=pd.Series(np.random.randn(10))
print(ser)
np.percentile(ser, q=[0,25,50,75,100])

0   -0.188599
1   -0.903650
2   -1.197730
3   -0.882125
4    0.668713
5   -0.018612
6    1.566156
7    1.036887
8    0.169351
9   -0.325246
dtype: float64

array([-1.19772962, -0.7429054 , -0.10360568,  0.54387218,  1.56615583])

In [127]:
#Q9.get frequency counts of unique items of a series?

ser1=pd.Series(list('abcd'))
ser2=pd.Series(list('cdef'))
ser3=pd.concat([ser1,ser2], axis=0)
ser3.value_counts()

d    2
c    2
f    1
b    1
e    1
a    1
dtype: int64

In [161]:
#Q10 keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.seed(0)
ser = pd.Series(np.random.randint(1, 10, 10))
print(ser.value_counts())

# Solution

ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print(ser)

4    3
8    2
6    2
5    1
3    1
1    1
dtype: int64
0    Other
1    Other
2        4
3        4
4        8
5        4
6    Other
7    Other
8    Other
9        8
dtype: object